<html>
    <head>
        <title>Brainless</title>
        <meta charset="utf-8" />
        <style>
            body {
                margin: 0;
                background-color: #26262b;
                overflow-x: hidden;
            }
            .ccard {
                display: inline-block;
                width: 20rem;
            }
            .card {
                height: 18%;
            }
        </style>
        <!-- CSS only -->
        <!-- <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        /> -->

        <link rel="stylesheet" href="bootstrap.min.css" />

        <!-- JS, Popper.js, and jQuery -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <script src="ejs.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Brainless</a>

            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/Brainless/index.html">GameHacking <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/Brainless/webhacking.html">WebHacking</a>
                </div>
            </div>
        </nav>

        <div style="width: 100vw; height: 80vh; position: relative;">
            <iframe src="https://streamable.com/e/e8ixte" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe>
        </div>

        <script id="rAulas" type="text/template">
                <div class="container">
                <% for( let i = 0; i < names.length; i++ ) { %>
                    <div class="ccard">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= `(${i}) ${names[i]}` %>
                                </h5>

                                <button type="button" class="btn btn-primary" onclick="SetVideo(<%= i %>)">
                                    Pastear!
                                </button>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </script>
    </body>

    <script>
        const links = [
            "https://streamable.com/dwkan8",
            "https://streamable.com/gvz4o4",
            "https://streamable.com/lso85e",
            "https://streamable.com/dn3gpz",
            "https://streamable.com/2ecm8x",
            "https://streamable.com/m5nks7",
            "https://streamable.com/5ukwj4",
            "https://streamable.com/d709rr",
            "https://streamable.com/hpv8yi",
            "https://streamable.com/9akh0g",
            "https://streamable.com/le9ea6",
            "https://streamable.com/zyk8e2",
            "https://streamable.com/25u08r",
            "https://streamable.com/fp2ail",
            "https://streamable.com/f2lmoj",
            "https://streamable.com/r63g9d",
            "https://streamable.com/tb7295",
            "https://streamable.com/oqqa8u",
            "https://streamable.com/r97vug",
            "https://streamable.com/rm5zfi",
            "https://streamable.com/dyjmo2",
            "https://streamable.com/a1tjo8",
            "https://streamable.com/t468zf",
            "https://streamable.com/rtinup",
            "https://streamable.com/ppu5th",
            "https://streamable.com/q3cu9a",
            "https://streamable.com/ol2k2g",
            "https://streamable.com/wxf379",
            "https://streamable.com/hvfkyp",
            "https://streamable.com/t6s3a8",
            "https://streamable.com/ya6enm",
            "https://streamable.com/flpea9",
            "https://streamable.com/na3ux1",
            "https://streamable.com/21ldc0",
            "https://streamable.com/m8uc11",
            "https://streamable.com/0lr5od",
            "https://streamable.com/f57hfl",
            "https://streamable.com/ks2t3x",
            "https://streamable.com/88l4bv",
            "https://streamable.com/a70znj",
            "https://streamable.com/xjah4w",
            "https://streamable.com/8q0v8q",
            "https://streamable.com/40aoq5",
            "https://streamable.com/mll9of",
            "https://streamable.com/q7lryd",
            "https://streamable.com/6yk6nw",
            "https://streamable.com/s7jxrl",
        ];

        const names = [
            "O que é Web Hacking?",
            "Black hat x White hat",
            "Por que ser do bem? E salario de um hacker",
            "Series Hackers ",
            "Mentalidade de um Hacker",
            "VPN",
            "Rede Tor",
            "Macetes da rede tor",
            "DuckDuckGo e Provedor",
            "Maltego",
            "Maltego e Linkedin Hacking",
            "WhoIS",
            "Buscando informações ",
            "O Poder das DORKS",
            "FacebookHacking",
            "GoogleHacking",
            "O que é Engenharia Social?",
            "Perguntas Socraticas",
            "Script",
            "Algumas Tecnicas de Persuasão ",
            "O que é Database?",
            "HASH",
            "Tipos de Criptografia ",
            "VPS",
            "Conectando na VPS e Server Manager ",
            "Hospedando um site usando XAMPP em uma VPS",
            "O que são Checkers",
            "Captcha",
            "Proxy",
            "Leaks",
            "Network e Inspect Element ",
            "Server Side e Client Side ",
            "Front End e BackEnd na pratica ",
            "Analisando e testando funções",
            "Como funciona o seu IP",
            "Google Earth",
            "Porque é impossível ser anonimo",
            "Localização de IP",
            "Ataques via IP",
            "Cloudflare",
            "Cloudflare Bypass/MDNS",
            "Explicando todos os tipos de ataques DDOS",
            "ping -t",
            "ataque de negação de serviço com ping -t",
            "Ip Logger",
            "IP resolver com maltego",
            "IP resolver com DNS",
            "Wayback Machine",
            "Shell.php",
            "Como faturar R$20.000 por dia com ataques ddos",
            "Anti - DDOS",
            "Funções do Cloudflare",
        ];
        const iframe = $("iframe")[0];

        const SetVideo = (index) => {
            iframe.src = links[index];

            $("html, body").animate(
                {
                    scrollTop: 0,
                },
                800
            );
        };

        document.addEventListener("DOMContentLoaded", () => {
            const rAulas = document.getElementById("rAulas");
            const html = ejs.render(rAulas.innerHTML, { locals: { names } });
            console.log(html);
            rAulas.outerHTML = html;
        });
        iframe.src = links[0];
    </script>
</html>
